{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["iOS >= 9", "Android >= 4.2", "IE >= 11"]
        },
        "modules": false,
        "spec": false,
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["iOS >= 9", "Android >= 4.2", "IE >= 11"]
            },
            "spec": false,
            "loose": true
          }
        ]
      ]
    }
  }
}
